@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}
